@model IEnumerable<Chatter.Models.Message>

@{
    ViewBag.Title = "Your Chatter";
}

<h2>@ViewBag.Title</h2>

<p>
   <h2> @Html.ActionLink("Create New", "Create")</h2>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Messages)
        </th>
        <th>
           Time Posted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Messages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
